<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>NetPolling</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../public/img/np.ico" type="image/x-icon">
        <link href="/public/bootstrap/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/public/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="nav-collapse collapse" href="#"><img src="/public/img/np_text_min.png"></a>
                    <span class="nav-collapse collapse">
                        <a id="17" class="menu" data-target="#myCo" href="co" role="button" class="label" data-toggle="modal"><button class="btn btn-inverse"><i class="icon-user icon-white"></i>Connexion</button></a>
                    </span>
                </div>
            </div>
        </nav>
        {% endblock %}
        {% block content %}
        <img class="container hidden-desktop" src="/public/img/np_logo.png">
        <div id="myCarousel" class="carousel slide visible-desktop">
            <ol class="carousel-indicators" style="background-color:black; padding:2px; border-radius:10px; ">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active"><img class="container" src="/public/img/np_logo.png" /></div>
                <div class="item"><img class="container" src="/public/img/np0.png" /></div>
                <div class="item"><img class="container" src="/public/img/np1.png" /></div>
                <div class="item"><img class="container" src="/public/img/np2.png" /></div>
                <div class="item"><img class="container" src="/public/img/np3.png" /></div>
                <div class="item"><img class="container" src="/public/img/np4.png" /></div>
                <div class="item"><img class="container" src="/public/img/np5.png" /></div>
                <div class="item"><img class="container" src="/public/img/np6.png" /></div>
                <div class="item"><img class="container" src="/public/img/np7.png" /></div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span4">
                    <div class="hero-unit">
                        <h2>Para 1</h2>
                        <p>
                            Accedat huc suavitas quaedam oportet sermonum atque morum, haudquaquam mediocre condimentum amicitiae. Tristitia autem et in omni re severitas habet illa quidem gravitatem, sed amicitia remissior esse debet et liberior et dulcior et ad omnem comitatem facilitatemque proclivior.
                        </p>
                    </div>
                </div>
                <div class="span4">
                    <div class="hero-unit">
                        <h2>Para 2</h2>
                        <p>
                            Accedat huc suavitas quaedam oportet sermonum atque morum, haudquaquam mediocre condimentum amicitiae. Tristitia autem et in omni re severitas habet illa quidem gravitatem, sed amicitia remissior esse debet et liberior et dulcior et ad omnem comitatem facilitatemque proclivior.
                        </p>
                    </div>
                </div>
                <div class="span4">
                    <div class="hero-unit">
                        <h2>Para 3</h2>
                        <p>
                            Accedat huc suavitas quaedam oportet sermonum atque morum, haudquaquam mediocre condimentum amicitiae. Tristitia autem et in omni re severitas habet illa quidem gravitatem, sed amicitia remissior esse debet et liberior et dulcior et ad omnem comitatem facilitatemque proclivior.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block modal %}
        <div id="myCo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                <h3>Connexion</h3>
            </div>
            <form action="connect" method="post" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Connexion</button>
                </div>
            </form>
        </div>
        {% endblock %}
        <script src="http://code.jquery.com/jquery.js"></script>
        {% load static %}
        <script src="/public/bootstrap/js/bootstrap.min.js"></script>
        <script>
            window.onload = $('.carousel').carousel({interval: 2000});
        </script>
    </body>
</html>