<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="public/img/np.ico" type="image/x-icon">
        <link href="public/bootstrap/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
        <link href="public/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="public/css/test.css" media="screen" rel="stylesheet" type="text/css">
        <link href="public/css/test.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block nav %}
        <nav class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="nav-collapse collapse" href="#">
                        <img src="public/img/np_text_min.png">
                    </a>
                    <span class="nav-collapse collapse">
                            <a id="0" class="menu" role="button" class="label" data-toggle="modal">
                                <button class="btn btn-inverse "><i class="icon-search icon-white"></i>Scan</button>
                            </a>
                    </span>
                    <span class="nav-collapse collapse">
                            <a id="1" class="menu" role="button" class="label" data-toggle="modal">
                                <button class="btn btn-inverse"><i class="icon-eye-open icon-white"></i>Visualiser</button>
                            </a>
                    </span>
                    <span class="nav-collapse collapse">
                            <a id="2" class="menu" role="button" class="label" data-toggle="modal">
                                <button class="btn btn-inverse"><i class="icon-wrench icon-white"></i>Profil</button>
                            </a>
                    </span>
                    <span class="nav-collapse collapse">
                            <a id="3" class="menu" role="button" class="label" data-toggle="modal">
                                <button class="btn btn-inverse"><i class="icon-off icon-white"></i>Déconnexion</button>
                            </a>
                    </span>
                </div>
            </div>
        </nav>
        {% endblock %}
        {% block content %}
        <div id="notification"></div>
        <div id="main" class="container">

        </div>
        {% endblock %}
        {% block modal %}
        <div id="myCo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                <h3>Connexion</h3>
            </div>
            <form action="#" method="post" enctype="application/x-www-form-urlencoded">
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary">Connexion</button>
                </div>
            </form>
        </div>
        {% endblock %}
        <!--<script src="http://code.jquery.com/jquery.js"></script>-->
        <script src="public/js/jquery-2.0.0.min.js"></script>
        <script src="public/bootstrap/js/bootstrap.min.js"></script>
        <script src="public/js/net.js"></script>
    </body>
</html>